@{
    ViewData["Title"] = "Home Page";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BizStream_Full_Stack_Assignment.Models.ContactFormModel
    <!--<link rel="stylesheet" href="~/css/site.css" /> -->

    <h1>Contact Us Form</h1>
    <form asp-action="Index" asp-controller="Home" method="post">
        <div>
            <label asp-for="FirstName">First Name</label>
            <input type="text" asp-for="FirstName" />
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div>
            <label asp-for="LastName">Last Name</label>
            <input type="text" asp-for="LastName" />
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input type="text" asp-for="Email" />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div>
            <label asp-for="Message">Message</label>
            <textarea asp-for="Message"></textarea>
            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
        </div>
        <div>
            <input type="submit" value="SUBMIT" />
        </div>
        @if (this.TempData["success"] != null)
        {<div class="success">@TempData["success"]</div>}
        

    </form>


